body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #000000;
    
    background-image: url("https://i.redd.it/wfh1s7xq6s211.jpg");
    background-color: #FFFFFF;

    margin: 25px;
    padding: 0px;

    text-align: center;
}

/* Used https://glassmorphism.com/ */
#mainbuttons{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.0px );
-webkit-backdrop-filter: blur( 2.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 25%;
padding: 1%;
}